<!doctype html>

<html>
	<head>
		<title>Crumbly castle {% block title %}{%endblock%}</title>

		<link href='http://fonts.googleapis.com/css?family=Felipa|Almendra+SC' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/css/base.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	</head>

	<body>
	{% block content %}

	{% endblock %}
	<script src="/static/js/jquery.details-1.5.min.js"></script>
	<script src="/static/js/behaviours.js"></script>
	</body>

</html>