{% extends 'base.html' %}

{% block content %}

<h1>{{location['name']}}</h1>

<p class="description">{{location['description']}}</p>

<p>You are playing <strong>{{player['name']}}</strong></p>


{% if other_players %}

<p>Here in the {{location['name']}} with you are:</p>

<ul class="characters">
	{% for p in other_players %}
	<li class="character">
		<details>
			<summary>{{p['name']}}</summary>
			<p class="description">{{p['description']}}</p>
		</details>
	</li>
	{% endfor %}
</ul>

{% endif %}

{% if exits %}

<p>You can see the following exits:</p>

<ul class="exits">
	{% for description, location_id in exits %}
	<li><a href="/player/{{player['id']}}/location/{{location_id}}">{{description}}</a></li>
	{% endfor %}
</ul>

{% endif %}

{% endblock %}